# vim: filetype=muttrc
#
# check for new mail every 60 minutes
set mail_check = 3600
set mbox_type  = Maildir
set timeout    = 0

# do not leak hostname of the local machine
set hostname = "nsa.gov"

# mailcap path (view attachments based on their MIME type)
set mailcap_path = ~/.config/mutt/misc/mailcap:$mailcap_path

# allow header editing
set edit_headers = yes
# clear all headers before adding custom ones
unmy_hdr *
# add custom headers below, e.g. user-agent
# unset user_agent
# my_hdr User-Agent: Roundcube Webmail/1.3.17

# do not mark messages as old
set mark_old           = no
# forward attachments
set mime_forward       = yes
# include message when replying
set include            = yes
# do not prompt for 'To:' and 'Subject:' fields when replying
set fast_reply         = yes
# define subject when forwarding a message
set forward_format     = "Fwd: %s"
# quote forwarded message in the body of a message
set forward_quote      = yes
# decode RFC2047-encoded MIME parameters (used by Outlook sometimes)
set rfc2047_parameters = yes
